.slideshow {
    height: 415px;
    position: relative;

    @include mobile {
        height: 255px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include radius;
    }

    &__arrow {
        position: absolute;
        top: 38%;

        @include mobile {
            height: 24px;
            top: 44%;
        }

        &--left {
            left: 2%;
        }
        
        &--right {
            right: 2%;
        }
    }    
}
