header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 45px 0;
    
    @include mobile {
        margin: 20px 0;
    }

    img {
        @include mobile {
            width: 145px;
        }
    }
}