.accomodation {

    &__content {
        display: flex;
        justify-content: space-between;
        color: $color-primary;

        @include mobile {
            flex-direction: column;
        }
    }

    &__titleandtags {
        @include direction;
        gap: 20px;
        padding: 25px 0;

        @include mobile {
            padding: 15px 0;
        }
    }

    &__title {
        @include direction;
        gap: 5px;

        h1 {
            @include font(500,36px);

            @include mobile {
                @include font(500,18px);
            }
        }

        p {
            @include font(500,18px);

            @include mobile {
                @include font(500,14px);
            }
        }
    }

    &__tags {
        display: flex;
        gap: 10px;
        color: $color-white;
        @include font(500,14px);

        @include mobile {
            @include font(500,10px);
            gap: 5px;
        }

        li {
            background-color: $color-primary;
            @include radius(10px);
            padding: 4px 30px;

            @include mobile {
                min-width: 80px;
                padding: 4px;
                text-align: center
            }
        }
    }

    &__hostandrating {
        @include direction;
        justify-content: center;
        align-items: flex-end;
        gap: 25px;

        @include mobile {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            gap: 15px;
        }
    }

    &__host {
        display: flex;
        align-items: center;
        gap: 10px;

        @include mobile {
            order: 1;
        }

        p {
            @include font(500,18px);
            text-align: end;
            line-height: 26px;

            @include mobile {
                @include font(500,12px);
                line-height: 17.11px;
            }
        }

        img {
            @include radius(100px);
            height: 64px;

            @include mobile {
                height: 32px;
            }
        }
    }

    &__rating {
        display: flex;
        gap: 15px;

        @include mobile {
            gap: 5px;
        }

        img {
            @include mobile {
                width: 13px;
            }
        }
    }

    &__collapse {
        display: flex;
        gap: 7%;
        margin-bottom: 50px;

        @include mobile {
                margin-bottom: 25px;
                flex-direction: column;
                gap: 20px;
            }

        .collapse__title {
            @include font(500,18px);
            @include radius(10px);

            @include mobile {
                @include font(500,13px);
            }
        }

        .collapse__content {
            @include radius(0 0 10px 10px);
        }
    }
}