.collapse__container {
    width: 1023px;
    margin: auto;

    @include tablet {
        width: 100%;
    }

    .content--active {
        visibility: visible;
        height: auto;
        overflow: visible;
        padding: 20px;
        opacity: 1;
    }

    .arrow--active {
        transition: all 500ms $fastout-slowin;
        transform: rotate(-180deg);
    }

    .false {
        transition: all 500ms $fastout-slowin;
    }
}

.collapse__title {
    @include radius(5px);
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 52px;
    @include font;

    @include mobile {
        @include font(500,13px);
        height: 30px;
    }

    img {
        width: 24px;
        cursor: pointer;

        @include mobile {
            width: 16px;
        }
    }
}

.collapse__content {
    @include font(400, 18px);
    background-color: $color-secondary;
    color: $color-primary;
    @include radius(0 0 5px 5px);
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 500ms $fastout-slowin;

    @include mobile {
        @include font(500,12px);
    }
}