@import "./variables.scss";

@mixin font ($f-weight: 500, $f-size: 24px){
    font-weight: $f-weight;
    font-size: $f-size;
}

@mixin direction ($direction: column) {
    display: flex;
    flex-direction: $direction;
}

@mixin center {
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content; 
    }   
}
