//colors
$color-primary: #FF6060;
$color-secondary: #F6F6F6;
$color-white: #FFFFFF;
$color-black: #000000;

//cubic-bezier
$fastout-slowin: cubic-bezier(0.4, 0, 0.2, 1);

//responsive
$breakpoints: (
    tablet: 1080px,
    mobile: 768px
)