@import "./base/global";
@import "./base/container";
@import "./components/Nav/Nav";
@import "./components/Banner/Banner";
@import "./components/Gallery/Gallery";
@import "./components/Card/Card";
@import "./components/Slideshow/Slideshow";
@import "./components/Collapse/Collapse";
@import "./layout/Header/Header";
@import "./layout/Footer/Footer";
@import "./pages/About/About";
@import "./pages/Accomodation/Accomodation";
@import "./pages/Error/Error";
