footer {
    position: absolute;
    left: 0;
    background-color: $color-black;
    width: 100%;
    margin: auto;
    height: 209px;
    @include direction;
    @include center;
    
    img {
        margin: 40px;
    }

    p {
        color: $color-white;
        @include font();
    }
}