@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

nav {
    display: flex;
    gap: 57px;

    @include mobile {
        gap: 26px;
    }

    a {
        color: $color-primary;
        @include font(500, 24px);
        
        @include mobile {
            @include font(500, 12px);
            text-transform: uppercase;
        }
    }

    .nav--active {
        text-decoration: underline;
    }
}